@import "vendor/normalize";
@import "vendor/foundation";

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
}


//Header

header[role="banner"] {
  margin-top:20px;
  margin-bottom:20px;
}

@import "landingpage/hero";
