@import "bourbon";

@mixin center-image() {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}


@import "vendor/awesome/font-awesome";

@import "vendor/normalize";
@import "vendor/foundation";
@import "landingpage/typography";
@import "landingpage/header";

@import "landingpage/hero";

@import "landingpage/features";
@import "landingpage/testimonials";
