.feature {
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    .fa {
        margin:12px auto;
        border: 1px solid #e3e3e3;
        display: inline-block;
        margin-bottom: 20px;
        padding: 30px;
        @include rounded-corners(50%);
        color: #cc5850;
    }

    h4 {
        text-align: left;
    }

    > p {
        text-align: left;
        line-height: 1.2;
        color: #666;
        font-size: 14px;
    }
}