.hero {

	border-bottom: 1px dashed #d4d4d4;
	padding-bottom: 20px;
	background-color:#fff;
	figure {
		margin:0;
		padding:0;
	}

	h1 {
		color: #ef5a34;
		text-transform: uppercase;
		margin-top:0;
	}

	.cta {
		strong {
			color: #ef5a34;
			text-transform: uppercase;
			margin-right: 12px;
		}
	}
}

ul.usp {
	li {
		font-weight: bold;

	}
}
