.hero {

	border-bottom: 1px dashed #d4d4d4;
	padding-bottom: 20px;
	background-color:#fff;
	figure {
		margin:0;
		padding:0;
	}

	h1 {
		color: #ef5a34;
		text-transform: uppercase;
		margin-top:0;
	}

	.cta {



		strong {

			display: none;
			@media screen and (min-width: 768px) {
				display: block;
			}
			position: relative;
			color: #ef5a34;

			line-height: 50px;
			margin-left: 55px;
			font-family: 'Gloria Hallelujah', cursive;
			font-size: 16px;
			font-weight: normal;



				&:before {
					content: " ";
					@include transform(rotate(-191deg));
					position: absolute;
					left: -78px;
					top: 10px;
					width: 75px;
					height: 25px;
					background: url("../img/arrow.png");
					background-size: 100%;
				}

		}

		.button {
			@include rounded-corners(5px);
			border-bottom-width: .3625rem;
			padding-bottom:.7rem;
			//@include box-shadow()

		}
	}
}

ul.usp {
	list-style: none;
	margin-left:0;
	li {
		font-weight: bold;
		.fa {
			font-weight: normal;
			color:green;
		}
	}
}
